.input-wrapper {
    height: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
    color: black;
}

.result {
    flex: 1;
    font-size: 25px;
}

.text {
    flex: 1;
    font-size: 20px;
}